.mainform .progress {
    padding: 0;
    margin-top: 10px;
    background: #faebd700;
}
}

#progress_bar::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 10px;
}

#progress_bar::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 10px;
  transition: width 0.5s ease;
}





.ui-widget {
    font-family: inherit!important;
    font-size: 13px!important;
    background-color: rgb(255 255 255 / 50%)!important;
    padding: 20px!important;

    border: none!important;
    border-radius: 0.5em!important;
    backdrop-filter: blur(10px)!important;
    -webkit-backdrop-filter: blur(10px)!important;
}


.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: none!important;
	background: #007fff2e!important;
	color: #ffffff;
}


span.price{
    display: block;
    font-size: 0.7em;
    font-family: 'Roboto';
}

.glass-container.dark, .glass-container .form-select {
    background-color: rgb(20 15 13 / 75%);
    color: #e6e6e6;
    border: none;
}

.favourite span {
    margin: 0 10px;
    display: inline-block;
}

.dark input::placeholder {
color: #e6e6e6;
}

.dark .form-control:focus {
    color: #fefefe;
    background-color: #221c19;
    border-color: #80bdff;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.1rem rgb(138 138 138 / 48%);
    box-shadow: 0 0 0 0.1rem rgb(138 138 138 / 48%);
}

.ticket-info {
margin: 1em;
text-align: left;
}

.key {
    display: inline-block;
    color: #ff0053;
    padding-right: 5px;
}

.value {
display: block;
color: #e5e5e5;
}

.station {
font-size: 0.6em;
}

.btn-primary {
    color: #fff;
    background-color: #d43267;
    border-color: #d43267;
}

.btn-primary:hover {
    color: #fff;
    background-color: #8c133a70;
    border-color: #8c133a;
}












@media (max-width: 767.98px) {

.calwrapper {
    padding: 8px;
    min-height: 200px;
}

.head-info {
margin: none
}

.head-day {
    font-size: 1em;
    line-height: 1;
    color: #fff;
    display: inline-block;
}

.head-month {
display: inline-block;
}


}


.cheapper {

  color: #198754;

}

.most-cheapper {
  color: #019acc;
}

.expensive {
  color: #e45c74;
}